body
{
	background: #ffffff;
	color: #2A363B;
	font-family: 'Montserrat', sans-serif;
    font-size: 17px;
	margin: 0;
}

h1
{
	font-size: 36px;
}

.recipes-new
{
	text-align: center;
}

.recipes-new img
{
	width: 100%;
	height: auto;
}

.recipes-new p
{
	margin-bottom: 30px;
}

.recipes-new figcaption
{
	margin-top: 8px;
}

.navbar {
	min-height: 57px;
}

.navbar-brand {
	font-size: 30px;
}

nav {
	padding: 7%;
	background-image: url('img/lukas-blazek-261682-unsplash.jpg'); /*Photo by Lukas Blazek on Unsplash*/
	background-repeat: no-repeat;
	/*background-position: center top;*/
	background-size: cover;
	-webkit-box-shadow: 0px 10px 39px -5px rgba(0,0,0,0.49);
	-moz-box-shadow: 0px 10px 39px -5px rgba(0,0,0,0.49);
	box-shadow: 0px 10px 39px -5px rgba(0,0,0,0.49);
}

/*.nav-link {*/
	/*font-size: 70px;*/
/*}*/
